@font-face {
   font-family: 'RobotoSlab-Bold';
   src: url('RobotoSlab-Bold/font.ttf');
}
@font-face {
   font-family: 'Arial';
   src: url('Arial/font.ttf');
}
@font-face {
   font-family: 'RobotoSlab-Regular';
   src: url('RobotoSlab-Regular/font.ttf');
}
